*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  height: 100%;
}

body {
  min-width: 320px;
  max-width: 1920px;
  height: 100%;
  font-family: $font-main;
  font-weight: 400;
  font-size: 140%;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  color: $clr-text;
  overflow-x: hidden;
  padding-top: 64px;

  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
}

a {
  text-decoration: none;
}

.btn {
  font-family: $font-main;
  font-size: 1.4rem;
  padding: 15px 25px;
  max-width: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: opacity 0.2s ease;
  border-radius: 5px;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &__primary {
    background-color: $clr-primary;
    color: $clr-secondary;
  }
}

.visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

@media (max-width: 991px) {
  p {
    font-size: 1.4rem;
  }
}
