.select-lang {
  .vs__dropdown-toggle {
    background: rgba(225, 228, 232, 0.2);
    border: none;
  }

  .vs__dropdown-option--selected {
    color: $clr-primary;
    background-color: transparent;
    position: relative;

    &::after {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -7px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'%3E%3Cpath fill='%233482fa' d='M9 16.219l10.594-10.641 1.406 1.406-12 12-5.578-5.578 1.359-1.406z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

.mobile--navigation {
  .select-lang {
    max-width: 200px;
    margin: 0 auto;

    .vs__selected {
      color: $clr-secondary;
    }

    .vs__open-indicator {
      fill: $clr-secondary;
    }
  }
}
