// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$font-main: 'Roboto', sans-serif;

// colors
$clr-primary: #3482fa;
$clr-secondary: #fff;
$clr-third: #aacdfd;

$clr-text: #282828;
$clr-text_primary: #2b81fb;
$clr-text_gray: #afafaf;

$clr-decor: #ededed;
$clr-decor-secondary: #c6c6c6;

$clr-bg-content: #f9f9f9;
$clr-bg-modal-backdrop: #afafaf;
