// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$font-main: 'Roboto', sans-serif;

// colors
$clr-primary: #3482fa;
$clr-secondary: #fff;
$clr-third: #aacdfd;
$clr-text: #282828;
$clr-decor: #ededed;
$clr-decor-secondary: #c6c6c6;
// grid
$content-width: 1710px;
$content-width__xl: 1480px;
$content-width__lg: 1330px;
$content-width__md: 1200px;
$content-width__sm: 991px;
$content-width__xs: 768px;
